#MainWindow {
    background-color: #1E1F22;
}

#Label{
    font: bold 16px Arial;
    color: #88909B;
}
#Filter {
    background-color: transparent;
    border-radius: 0px;
    font: bold 16px Arial;
    color: #88909B;
}
#Separator{
    font: bold 18px Arial;
    color: #88909B;
}
#InputLine{
    font: 18px Arial;
}